<div class="add">
	<div class="container-narrow">
		
		<div class="panel panel-primary panel-input">
			<div class="panel-heading">Dodać nowego studenta</div>
			<div class="panel-body">
				
				<form class="form-horizontal" #addListaForm="ngForm">
					<div class="col-md-4">
						<image-upload
						[max]="1"
  						[buttonCaption]="'Załadować nowy obraz!'"
  						[dropBoxMessage]="''"
  						[extensions]="['jpg','png','gif']"     
  						(isPending) = "disableSendButton($event)"
						(uploadFinished) = "imageUploaded($event)"
						(removed) = "imageRemoved($event)"
  						>
						</image-upload>
						<img src="{{file_src}}" height="180px" width="200px;" alt="Zdjęcie studenta">
					</div><!-- col-md-4 -->

					<div class="col-md-8">
						<div class="form-group">
							<label for="fullname" class="col-sm-4 control-label">Imię i nazwisko :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="fullname" required maxlength="50" [(ngModel)]="model.fullname" #fullname="ngModel">
							<div *ngIf="fullname.errors && (fullname.dirty || fullname.touched)" class="alert alert-danger">
								<div [hidden]="!fullname.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Imię i nazwisko" 
								</div>
							</div><!-- div error fullname -->
							</div><!-- col-sm-8 fullname -->

							<label for="b_date" class="col-sm-4 control-label">Data urodzenia :</label>
							<div class="col-sm-8">
								<input type="date" class="form-control" name="b_date" placeholder="XX.XX.XXXX" required maxlength="10" [(ngModel)]="model.b_date" #b_date="ngModel">
							<div *ngIf="b_date.errors && (b_date.dirty || b_date.touched)" class="alert alert-danger">
								<div [hidden]="!b_date.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Data urodzenia" 
								</div>
							</div><!-- div error b_date -->
							</div><!-- col-sm-8 b_date-->
							
							<label for="a_num" class="col-sm-4 control-label">Numer albumu :</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" name="a_num" placeholder="XXXXX" required maxlength="5" [(ngModel)]="model.a_num" #a_num="ngModel">
							<div *ngIf="a_num.errors && (a_num.dirty || a_num.touched)" class="alert alert-danger">
								<div [hidden]="!a_num.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Numer albumu" 
								</div>
							</div><!-- div error a_num -->
							</div><!-- col-sm-8 a_num-->

							<label for="kierunek" class="col-sm-4 control-label">Kierunek :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="kierunek" required maxlength="50" [(ngModel)]="model.kierunek" #kierunek="ngModel">
							<div *ngIf="kierunek.errors && (kierunek.dirty || kierunek.touched)" class="alert alert-danger">
								<div [hidden]="!kierunek.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Kierunek" 
								</div>
							</div><!-- div error kierunek -->
							</div><!-- col-sm-8 kierunek-->

							<label for="grupa" class="col-sm-4 control-label">Grupa :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="grupa" required maxlength="15" [(ngModel)]="model.grupa" #grupa="ngModel">
							<div *ngIf="grupa.errors && (grupa.dirty || grupa.touched)" class="alert alert-danger">
								<div [hidden]="!grupa.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Grupa" 
								</div>
							</div><!-- div error grupa -->
							</div><!-- col-sm-8 grupa-->

							<!-- Adres -->
							<label for="kraj" class="col-sm-4 control-label">Kraj :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="kraj" required maxlength="20" [(ngModel)]="model.kraj" #kraj="ngModel">
							<div *ngIf="kraj.errors && (kraj.dirty || kraj.touched)" class="alert alert-danger">
								<div [hidden]="!kraj.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Kraj" 
								</div>
							</div><!-- div error kraj -->
							</div><!-- col-sm-8 kraj-->

							<label for="ulica" class="col-sm-4 control-label">Ulica :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="ulica" required maxlength="30" [(ngModel)]="model.ulica" #ulica="ngModel">
							<div *ngIf="ulica.errors && (ulica.dirty || ulica.touched)" class="alert alert-danger">
								<div [hidden]="!ulica.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Ulica" 
								</div>
							</div><!-- div error ulica -->
							</div><!-- col-sm-8 ulica-->

							<label for="nr_domu" class="col-sm-4 control-label">Nr. domu :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="nr_domu" required maxlength="5" [(ngModel)]="model.nr_domu" #nr_domu="ngModel">
							<div *ngIf="nr_domu.errors && (nr_domu.dirty || nr_domu.touched)" class="alert alert-danger">
								<div [hidden]="!nr_domu.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Nr. domu" 
								</div>
							</div><!-- div error nr_domu -->
							</div><!-- col-sm-8 nr_domu-->

							<label for="nr_mieszkania" class="col-sm-4 control-label">Nr. mieszkania :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="nr_mieszkania" required maxlength="5" [(ngModel)]="model.nr_mieszkania" #nr_mieszkania="ngModel">
							<div *ngIf="nr_mieszkania.errors && (nr_mieszkania.dirty || nr_mieszkania.touched)" class="alert alert-danger">
								<div [hidden]="!nr_mieszkania.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Nr. mieszkania" 
								</div>
							</div><!-- div error nr_mieszkania -->
							</div><!-- col-sm-8 nr_mieszkania-->

							<label for="kod_pocztowy" class="col-sm-4 control-label">Kod pocztowy :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="kod_pocztowy" placeholder="XX-XXX" required maxlength="6" [(ngModel)]="model.kod_pocztowy" #kod_pocztowy="ngModel">
							<div *ngIf="kod_pocztowy.errors && (kod_pocztowy.dirty || kod_pocztowy.touched)" class="alert alert-danger">
								<div [hidden]="!kod_pocztowy.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Kod pocztowy" 
								</div>
							</div><!-- div error kod_pocztowy -->
							</div><!-- col-sm-8 kod_pocztowy-->
							<!-- End Adres -->

							<label for="nr_telefonu" class="col-sm-4 control-label">Numer telefonu :</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="nr_telefonu" required maxlength="15" [(ngModel)]="model.nr_telefonu" #nr_telefonu="ngModel">
							<div *ngIf="nr_telefonu.errors && (nr_telefonu.dirty || nr_telefonu.touched)" class="alert alert-danger">
								<div [hidden]="!nr_telefonu.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Numer telefonu" 
								</div>
							</div><!-- div error nr_telefonu -->
							</div><!-- col-sm-8 nr_telefonu-->

							<label for="email" class="col-sm-4 control-label">Email :</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" name="email" placeholder="name@student.po.edu.pl" required maxlength="50" [(ngModel)]="model.email" #email="ngModel">
								<div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
								<div [hidden]="!email.errors.required">
									<span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Niepoprawne pole: "Email" 
								</div>
							</div><!-- div error email -->
							</div><!-- col-sm-8 email-->
							
							<label for="stud_info" class="col-sm-4 control-label">Inne :</label>
							<div class="col-sm-8">
								<textarea class="form-control" type="text" name="stud_info" required rows="3" maxlength="1000" [(ngModel)]="model.stud_info" #stud_info="ngModel"></textarea>
							</div><!-- col-sm-8 stud_info-->
						</div><!-- form-group -->
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<button type="sumbit" class="btn btn-success" [disabled]="!addListaForm.form.valid">Zapisz</button>
								<a class="btn btn-info" (click)="goBack()">Anuluj</a>
							</div><!-- col-sm-offset-4 -->
						</div><!-- form-group -->
					</div><!-- col-md-8 -->
				</form>

			</div> <!-- panel-body -->
		</div><!-- panel-primary -->
	</div> <!-- container-narrow -->
</div> <!-- add -->
