<div class="home">
	<div class="container-narrow">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="col-md-8">
					Test Name
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>

